html, body, .site-container{
    height: 100%;
}

.ui-grid {
    height: 91vh;
}

.message-grouping-controls .md-nav-bar{
    height:65px;
}
.message-grouping-controls  .md-button{
    line-height: 3;
}